extends ../layout/main.pug

block content
    h3 Nổi bật hôm nay
    ul.d-flex.justify-content-around.flex-wrap(stye="display: flex;")
      each article in articles
        li.my-1.list-group-item.border-0(style="flex: 0 0 33%")
          .card(style='width: 18rem;')
            img.card-img-top(src=article.imgUrl alt='Card image cap')
            .card-body
              h5.card-title 
                a(href=`http://localhost:3000/articles/${article.slug}`)
                  strong #{article.title}
              p.card-text
                p #{article.content}
              button.mx-2.btn.btn-primary 
                a.btn-primary(href=`http://localhost:3000/articles/${article.slug}/update`) Update 
              button.mx-2.btn.btn-danger(data-bs-toggle="modal" data-bs-target="#exampleModal") Delete

    #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Delete this article
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-footer
            button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
            form(action=`http://localhost:3000/articles/asd?_method=DELETE`, method='POST')
              button.btn.btn-danger(type='submit') Delete

